<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ElectricityBillConnectionString" connectionString="Data Source=LENOVO\SQLEXPRESS;Initial Catalog=ElectricityBill;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="ElectricityBillConnectionString1" connectionString="Data Source=192.169.34.32;Initial Catalog=MMSSEC_A_1415;User ID=CT20141221675;Password=CT20141221675"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"></add>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
</configuration>